<app-nav-bar></app-nav-bar>
<div class="details_padding">
    <div class="products" *ngIf="errorMessage">
        <div class="error-message"><p>{{ errorMessage }}</p></div>
    </div>
    <div class="products" *ngIf="successMessage">
        <div class="success-message"><p>{{ successMessage }}</p></div>
    </div>
    <div class="loader" *ngIf="isLoading"></div>
    <div class="details_content" *ngIf="!isLoading">
        <div class="details_images">
            
            <img *ngFor="let image of item[0].prod_images" [src]="image" class="image"><br />
        </div>
        
        <div class="details_info">
            <p class="title">{{ item[0].name }}</p>
            <p class="category">Kategoria: {{ item[0].category }}</p>
            <p class="price">{{ item[0].price }} zł</p>
            <br />
            <p class="size">Wybierz rozmiar:</p>
            <form (ngSubmit)="onSubmit()">
                <div class="details_sizes">
                    <div class="details_size" *ngFor="let element of sizes">
                        <input type="radio" id="{{ element }}" name="size" [value]="element" [(ngModel)]="size" [ngModelOptions]="{standalone: true}" [disabled]="!isAvailable(element)" [checked]="false">
                        <label for="{{ element }}" [class.disabled]="!isAvailable(element)">{{ element }}</label>
                    </div>
                </div><br />
                <input type="submit" value="Dodaj do koszyka" class="details_add_cart_button">
              </form>
        </div>
    </div>
    <div class="details_description" *ngIf="!isLoading">
        <div class="bar"><p>Opis produktu</p></div>
		<div class="content">
			<p> 
                {{ item[0].description }}
            </p>
		</div>
        <div class="bar"><p>Szczegóły produktu</p></div>
		<div class="content">
			<p> 
                {{ item[0].description }}
            </p>
		</div>
    </div>
</div>