<app-nav-bar></app-nav-bar>
<div class="content_padding">
    <div>
        <div class="details_image">
            <img [src]="item[0].prod_images[0]" class="item_image"><br />
        </div>
        <div>
            <h2>{{ item[0].name }}</h2>
            <p>Cena: {{ item[0].price }} zł</p>
            <p>Marka: {{ item[0].brand }}</p>
            <p>Kategoria: {{ item[0].category }}</p>
            <p>size 41: {{ item[0].sizes_and_amounts['41'] }} sztuk</p>
            <form (ngSubmit)="onSubmit()">
                <label for="rozmiar">Rozmiar: </label>
                <select name="rozmiar" [(ngModel)]="rozmiar">
                    <option *ngFor="let element of sizes">
                        {{ element }}
                    </option>
                </select><br />
                <input type="submit" value="Dodaj do koszyka">
            </form>
        </div>
    </div>
</div>