<div class="content_padding">
    <div class="content_text">
        <div class="bar"><p>POLITYKA PRYWATNOŚCI I COOKIES</p></div>
        <div class="text">
            <p>
                Niniejsza polityka prywatności i cookies ma na celu wyjaśnienie, w jaki sposób nasz sklep internetowy gromadzi, używa i chroni Twoje dane osobowe oraz informacje uzyskiwane za pomocą plików cookies.
                </p>
                <p>1. Zbieranie danych osobowych</p>
                <p>
                    Podczas korzystania z naszego sklepu internetowego, możemy zbierać i przetwarzać Twoje dane osobowe, takie jak imię, nazwisko, adres e-mail, numer telefonu, adres dostawy i faktury, informacje o zamówieniach oraz historię zakupów. Będziemy używać tych danych wyłącznie w celu realizacji Twoich zamówień oraz w celach marketingowych, o ile wyrazisz na to zgodę.
                </p>
                <p>2. Używanie plików cookies</p>
                <p>
                    Pliki cookies są niewielkimi plikami tekstowymi, które są przechowywane na Twoim komputerze lub urządzeniu mobilnym podczas korzystania z naszego sklepu internetowego. Są one używane w celu zapewnienia poprawnego działania strony oraz w celach marketingowych.
                </p>
                <p>
                    Możemy używać plików cookies, aby zapisać Twoje preferencje dotyczące języka, kraju, widoku strony oraz wybranej waluty. Pliki cookies mogą być również używane do zbierania informacji o Twoim zachowaniu na naszej stronie, takich jak preferencje zakupowe, przeglądane produkty oraz czas spędzony na stronie. Te informacje mogą być użyte w celach marketingowych, w tym do dostosowania reklam do Twoich zainteresowań.
                </p>
                <p>3. Udostępnianie danych osobowych</p>
                <p>
                    Twoje dane osobowe nie będą udostępniane ani sprzedawane osobom trzecim bez Twojej wyraźnej zgody, chyba że jest to konieczne do realizacji Twojego zamówienia lub w przypadku przetwarzania danych zgodnie z wymaganiami prawa.
                </p>
                <p>4. Bezpieczeństwo danych osobowych</p>
                <p>
                    Zabezpieczenie Twoich danych osobowych jest dla nas kluczowe. Stosujemy odpowiednie środki techniczne i organizacyjne, aby zapewnić ochronę Twoich danych przed nieautoryzowanym dostępem, utratą lub nieuprawnionym ujawnieniem.
                </p>
                <p>5. Twoje prawa</p>
                <p>
                    Masz prawo do dostępu do swoich danych osobowych, ich poprawiania lub usunięcia. Masz również prawo do wniesienia sprzeciwu wobec przetwarzania Twoich danych osobowych, a także do ograniczenia przetwarzania oraz do przenoszenia swoich danych.
                </p>
                <p>6. Zmiany w polityce prywatności i cookies</p>
                <p>
                    Zastrzegamy sobie prawo do wprowadzenia zmian w niniejszej polityce prywatności i cookies w dowolnym czasie. Wszelkie zmiany będą opublikowane na naszej stronie internetowej.
                </p>
                <p>
                    Jeśli masz jakiekolwiek pytania lub wątpliwości dotyczące naszej polityki prywatności i cookies, prosimy o kontakt z nami za pośrednictwem danych kontaktowych podanych na naszej stronie internetowej. Chętnie odpowiemy na Twoje pytania i udzielimy wszelkich wyjaśnień.
                </p>
    
                <p>Podsumowanie</p>
                <p>
                    Niniejsza polityka prywatności i cookies ma na celu ochronę Twoich danych osobowych i zapewnienie Cię, że Twoje dane są bezpieczne i chronione. Zbieramy Twoje dane wyłącznie w celu realizacji Twojego zamówienia oraz w celach marketingowych, o ile wyrazisz na to zgodę. Używamy plików cookies w celu poprawnego działania strony oraz w celach marketingowych. Nie udostępniamy Twoich danych osobowych osobom trzecim bez Twojej zgody, chyba że jest to konieczne do realizacji Twojego zamówienia lub zgodnie z wymaganiami prawa. Masz prawo do dostępu do swoich danych osobowych, ich poprawiania lub usunięcia oraz do wniesienia sprzeciwu wobec przetwarzania Twoich danych osobowych. Zastrzegamy sobie prawo do wprowadzenia zmian w niniejszej polityce prywatności i cookies w dowolnym czasie.
                </p>
        </div>
    </div>
</div>