<div  id="container" ng-controller="viewController">
  <div id="whole_header" (mouseleave)="onPanelMouseLeave($event)">
    <div id="header">
        <div class="logo">
            <a routerLink="/">
              <i>AWAZON<span style="color: rgb(185,0,0);">sport</span></i>
            </a>
        </div>
        <div id="menu_top_center">
          <a routerLink="/"><div>Sklep</div></a>
          <a routerLink="/cart"><div>Koszyk</div></a>
          <a routerLink="/accounts"><div>Użytkownicy</div></a> 
          <a routerLink="/orders"><div>Zamówienia</div></a>
        </div>
        <div id="menu_top_right">
          <div class="search_header">
            <input type="text" class="search_input" placeholder="Wyszukaj" (input)="searchResult = true" (keyup)="onInputChange()" [(ngModel)]="searchValue"/>
            <span class="search_icon">
              <mat-icon>search</mat-icon>
            </span>
          </div>
          <div id="search_icon" class="div"><mat-icon>search</mat-icon></div>
          <a routerLink="/cart"><div class="div"><mat-icon>shopping_cart</mat-icon></div></a>
          <div id="menu_icon" class="div"><mat-icon>menu</mat-icon></div>
        </div>
    </div>
    <div id="header_bottom">
      <div id="user_menu">
        <a routerLink="/login"><div>Logowanie</div></a>
        <a routerLink="/register"><div>Rejestracja</div></a>
      </div>
      <div id="search_mobile">
        <div class="search_mobile_header">
          <input type="text" class="search_mobile_input" placeholder="Wyszukaj" (input)="searchResult = true" (keyup)="onInputChange()" (keydown.enter)="onInputChange()" [(ngModel)]="searchValue" />
          <span class="search_mobile_icon">
            <mat-icon>search</mat-icon>
          </span>
        </div>
      </div>
      <div id="menu_mobile">
        <a routerLink="/"><div>Sklep</div></a>
        <a routerLink="/cart"><div>Koszyk</div></a>
        <a routerLink="/accounts"><div>Użytkownicy</div></a> 
        <a routerLink="/orders"><div>Zamówienia</div></a>
        <a routerLink="/login"><div>Logowanie</div></a>
        <a routerLink="/register"><div>Rejestracja</div></a>
      </div>
      <div id="menu_top_right">
        <div class="search_header">
          <input type="text" class="search_input" placeholder="Wyszukaj" />
          <span class="search_icon">
            <mat-icon>search</mat-icon>
          </span>
        </div>
        <div id="search_icon" class="div"><mat-icon>search</mat-icon></div>
        <a routerLink="/cart"><div class="div"><mat-icon>shopping_cart</mat-icon></div></a>
        <div id="menu_icon" class="div"><mat-icon>menu</mat-icon></div>
      </div>
  </div>
  <div id="header_bottom">
    <div id="user_menu">
      <div *ngIf="isLogged; then logoutTemplate else loginTemplate"></div>
      <ng-template #loginTemplate>
        <a routerLink="/login"><div>Logowanie</div></a>
        <a routerLink="/register"><div>Rejestracja</div></a>
      </ng-template>
      <ng-template #logoutTemplate>
        <a routerLink="" (click)="logout()"><div>Wyloguj</div></a>
      </ng-template>
    </div>
    <div id="search" *ngIf="searchResult" >
      <div class="search_title"> 
        <div>Wynik wyszukiwania:</div>
        <div (click)="searchResult = false; searchValue = ''" class="search_cancel_button">ANULUJ</div>
      </div>
      <div class="loader" *ngIf="isLoading"></div>
      <div id="search_result" *ngIf="!isLoading">
        <div class="item_list">
          <div class="item" *ngFor="let itemElement of items" (click)="goToProductDetails(itemElement.id)">
            <div class="div_item_image"><img [src]="itemElement.prod_images[0]" class="item_image"></div>
            <div class="item_name">{{ itemElement.name }}</div>
            <div class="item_price">{{ itemElement.price }} zł</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="padding">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div id="footer">
    <div>
      <a routerLink="/">©AWAZON<span style="color: rgb(185,0,0);">sport</span> 2023</a>
    </div>
    <div>
      <div id="footer_menu">
        <a routerLink="/cookies"><div>Polityka prywatności</div></a>
        <a routerLink="/rules"><div>Regulamin sprzedaży</div></a>
      </div>
    </div>
  </div>
</div>