<div class="content_padding">
    <div class="content_text">
        <app-nav-bar ></app-nav-bar>
        <div *ngIf="isLogged; then logged else unlogged"></div>
        <ng-template #logged>
            <div class="text-center">
                <div class="error-message"><p>Płatność została anulowana!</p></div>
                <button routerLink="/cart">Powrót do koszyka</button>
            </div>
        </ng-template>
        <ng-template #unlogged>
            <div class="text-center">
                <div class="error-message"><p>Nie masz dostępu do tej części strony!</p></div>
                <button routerLink="/">Powrót na stronę główną</button>
            </div>
        </ng-template> 
    </div>
</div>
