<div class="content_padding">
    <div class="content_text">
        <div class="bar"><p>REGULAMIN SPRZEDAŻY</p></div>
        <div class="text">
            <p>1. Postanowienia ogólne</p>
            <p>
            1.1. Niniejszy regulamin określa zasady sprzedaży towarów przez sklep internetowy AWAZONsport.<br>
            1.2. Sklep internetowy prowadzi sprzedaż towarów za pośrednictwem strony internetowej.<br>
            1.3. Sklep internetowy zastrzega sobie prawo do zmiany regulaminu, które wchodzą w życie po 7 dniach od ich publikacji na stronie sklepu internetowego.
            </p>
            <p>2. Składanie zamówień</p>
            <p>
                2.1. Zamówienia można składać za pośrednictwem strony internetowej.<br>
                2.2. Warunkiem złożenia zamówienia jest wypełnienie formularza zamówienia i potwierdzenie go przez Klienta.<br>
                2.3. Sklep internetowy potwierdzi przyjęcie zamówienia za pośrednictwem e-maila.<br>
                2.4. W przypadku braku możliwości realizacji zamówienia, sklep internetowy poinformuje Klienta o tym fakcie za pośrednictwem e-maila lub telefonu.
            </p>
            <p>3. Ceny i płatności</p>
            <p>
                3.1. Ceny towarów podawane na stronie internetowej sklepu internetowego są cenami brutto.<br>
                3.2. Sklep internetowy zastrzega sobie prawo do zmiany cen towarów znajdujących się w ofercie sklepu internetowego.<br>
                3.3. Klient ma możliwość zapłaty za zamówione towary za pośrednictwem systemów płatności elektronicznych, przelewem na konto bankowe lub za pobraniem.<br>
                3.4. W przypadku wyboru płatności za pobraniem, Klient jest zobowiązany do zapłaty za zamówione towary kurierowi przy odbiorze przesyłki.
            </p>
            <p>4. Dostawa</p>
            <p>
                4.1. Towary są dostarczane za pośrednictwem kuriera.<br>
                4.2. Koszt dostawy jest zależny od wybranej formy dostawy oraz miejsca dostawy.<br>
                4.3. Czas dostawy zależy od wybranej formy dostawy oraz od miejsca dostawy.
            </p>
            <p>5. Reklamacje i zwroty</p>
            <p>
                5.1. W przypadku otrzymania towarów wadliwych lub niezgodnych z zamówieniem, Klient ma prawo do reklamacji towaru.<br>
                5.2. Reklamacje należy zgłaszać na piśmie za pośrednictwem e-maila w ciągu 14 dni od daty otrzymania towaru.<br>
                5.3. Sklep internetowy rozpatrzy reklamację w ciągu 14 dni od daty otrzymania zgłoszenia.<br>
                5.4. W przypadku uzasadnionej reklamacji, sklep internetowy zobowiązuje się do wymiany towaru lub do zwrotu kosztów zakupu.
            </p>
            <p>6. Ochrona danych osobowych</p>
            <p>
                6.1. Administratorem danych osobowych Klientów jest sklep internetowy.<br>
                6.2. Sklep internetowy przetwarza dane osobowe Klientów zgodnie z przepisami ustawy o ochronie danych osobowych oraz ogólnym rozporządzeniem o ochronie danych osobowych (RODO).<br>
                6.3. Podanie danych osobowych jest dobrowolne, ale niezbędne do realizacji zamówienia.<br>
                6.4. Klient ma prawo do wglądu w swoje dane osobowe, ich poprawiania oraz żądania ich usunięcia z bazy danych.<br>
                6.5. Sklep internetowy zobowiązuje się do zachowania poufności danych osobowych Klientów i nie udostępniania ich osobom trzecim.
            </p>
            <p>7. Postanowienia końcowe</p>
            <p>
                7.1. Niniejszy regulamin wchodzi w życie z dniem opublikowania na stronie internetowej sklepu internetowego.<br>
                7.2. W sprawach nieuregulowanych w niniejszym regulaminie mają zastosowanie przepisy Kodeksu cywilnego oraz ustawy o ochronie danych osobowych.<br>
                7.3. Wszelkie spory wynikłe z realizacji umów sprzedaży będą rozstrzygane przez właściwe sądy powszechne.<br>
                7.4. Sklep internetowy zastrzega sobie prawo do zmiany regulaminu bez podania przyczyny. Zmiany wchodzą w życie po 7 dniach od ich opublikowania na stronie internetowej sklepu internetowego.
            </p>
        </div>
    </div>
</div>