<app-nav-bar [itemCategory]="getCategoryName(category_id)" [itemBrand]="getBrandName(brand_id)"></app-nav-bar>
<div class="content_padding">
    <div *ngIf="admin; then adminPanel else error"></div>
    <ng-template #adminPanel>
        <div class="filters">
            <div class="sorting-dropdown-button bar"><p>Sortowanie</p></div>
            <div class="sorting-dropdown-content dropdown-content">
                <p> 
                    <select name="sorting" [(ngModel)]="priceOrder" (change)="setFilters()" style="width: 95%;">
                        <option value="">Od najnowszych</option>
                        <option value="asc">Cena rosnąco</option>
                        <option value="desc">Cena malejąco</option>
                    </select>
                  </p>
            </div>
            
            <div class="filters-dropdown-button bar"><p>Filtrowanie</p></div>
            <div class="filters-dropdown-content dropdown-content">
                <div class="label"><label for="brand">Marka:</label></div>
                <select name="brand" [(ngModel)]="brand_id" (change)="setFilters()" style="width: 95%;">
                    <option [value]=brand.id *ngFor="let brand of brands; let i=index" [selected]="i==0">
                        {{ brand.name }}
                    </option>
                </select><br/><br/>
                <div class="label"><label for="category">Kategoria:</label></div>
                <select name="category" [(ngModel)]="category_id" (change)="setFilters()" style="width: 95%;">
                    <option [value]=category.id *ngFor="let category of categories; let i=index" [selected]="i==0">
                        {{ category.name }}
                    </option>
                </select><br/><br/>
                <div *ngIf="category_id">
                    <div class="label"><label for="size">Rozmiar:</label></div>
                    <select name="rozmiar" [(ngModel)]="size" (change)="setFilters()" style="width: 95%;">
                        <option *ngFor="let element of sizes">
                            {{ element }}
                        </option>
                    </select>
                    <br/><br/>
                </div>
                <div class="label"><label for="category">Przedział cenowy:</label>
                    <div style="display:flex;">
                        <input type="text" (keydown)="onKeyPress($event)" (keypress)="onKeyPress($event)" placeholder="Od" [(ngModel)]="minPrice" (change)="setFilters()" style="text-align:center; width: 100%; box-sizing: border-box;"/>
                        <div style="padding-top:4px;">_</div>
                        <input type="text" (keydown)="onKeyPress($event)" (keypress)="onKeyPress($event)" placeholder="Do" [(ngModel)]="maxPrice" (change)="setFilters()" style="text-align:center; width: 100%; box-sizing: border-box;"/>
                    </div>
                    <div class="error-message" *ngIf="messagePrice"><p>{{ messagePrice }}</p></div>
                </div><br/><br/>
            </div>
        </div>
        <div class="products" *ngIf="message">
            <div class="error-message"><p>{{ message }}</p></div>
        </div>
        <div class="products" *ngIf="!message">
            <div *ngIf="errorMessage" class="error-message"><p>{{ errorMessage }}</p></div>
            <div *ngIf="successMessage" class="success-message"><p>{{ successMessage }}</p></div>
            <mat-paginator [pageSizeOptions]="pageSizeOptions"
                        [pageSize]="pageSize"
                        [pageIndex]="currentPageIndex"
                        [length]="totalItems"
                        (page)="onPageChange($event)">
            </mat-paginator>
            <br />
            <div class="loader" *ngIf="isLoading"></div>
            <div class="item_list" *ngIf="!isLoading">
                <div class="item" *ngFor="let itemElement of items" >
                    <div class="div_item_image"><img [src]="itemElement.prod_images[0]" class="item_image"></div>
                    <div class="item_name" (click)="goToProductDetails(itemElement.id)">{{ itemElement.name }}</div>
                    <div class="item_price">{{ itemElement.price }} zł</div>
                    <div style="text-align: center;">
                        <button (click)="goToEditProduct(itemElement.id)" style="width: 100%; margin-bottom: 3px; margin-top: 5px;">Edytuj</button>
                        <button (click)="goToIncreaseStock(itemElement.id)" style="width: 100%; margin-bottom: 3px;">Dodaj ilość produktu</button> 
                        <button (click)="deleteProduct(itemElement.id)" style="width: 100%">Usuń</button>
                    </div>
                </div>
            </div>
            <br />
            <mat-paginator [pageSizeOptions]="pageSizeOptions"
                        [pageSize]="pageSize"
                        [pageIndex]="currentPageIndex"
                        [length]="totalItems"
                        (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </ng-template>
    <ng-template #error>
        <div class="text-center">
            <div class="error-message"><p>Brak uprawnień administratora!</p></div>
            <button routerLink="/">Powrót na stronę główną</button>
        </div>
    </ng-template>
</div> 
               