<div class="content_padding">
    <div *ngIf="isAdmin; then adminPanel else error"></div>
    <ng-template #adminPanel>
        <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <label for="name">Nazwa produktu:</label>
            <input type="text" [(ngModel)]="name" name="name" [required]="true" [ngModelOptions]="{standalone: true}"><br />       
            
            <label for="brand">Marka:</label>
            <select name="brand" [(ngModel)]="brand_id">
                <option [value]=brand.id *ngFor="let brand of brands; let i=index" [selected]="i==0">
                    {{ brand.name }}
                </option>
            </select><br />

            <label for="category">Kategoria:</label>
            <select name="category" [(ngModel)]="category_id">
                <option [value]=category.id *ngFor="let category of categories; let i=index" [selected]="i==0">
                    {{ category.name }}
                </option>
            </select><br />
        
            <label for="description">Opis:</label>
            <textarea [(ngModel)]="description" name="description"></textarea><br />
        
            <label for="price">Cena produktu:</label>
            <input type="text" [(ngModel)]="price" name="price"><br />
        
            <label for="prod_images">Product Images:</label>
            <input type="file" [(ngModel)]="prod_images" name="prod_images" multiple (change)="onFileChange($event)"><br />
        
            <input type="submit" value="Dodaj produkt">
        </form>
    </ng-template>
    <ng-template #error>
        <p>Brak uprawnień administratora</p>
    </ng-template>
</div>