<div class="content_padding">
    <div class="content_text">
        <app-nav-bar></app-nav-bar>
        <div class="text-center">
            <div class="bar"><p>Koszyk</p></div>
            <div class="item" *ngFor="let cartElement of cart; let i=index">
                <div class="item_name" (click)="goToProductDetails(cartElement.id)">
                  {{ cartElement.name }}
                </div>
                <select (change)="setProductAmount(cartElement.id, cartElement.size, selectedOption[i])" [(ngModel)]="selectedOption[i]">
                    <option *ngFor="let amount of maxAmount[i]; let i = index" [value]="amount">
                        {{ amount }}
                    </option>
                </select>
                Sztuk {{ cartElement.price }}
                <button (click)="deleteProductFromCart(cartElement.id, cartElement.size)">Usuń produkt z koszyka</button>
            </div>
            <div>Całkowita cena: {{ totalPrice }} zł</div>
            <button routerLink="/checkout">Przejdź do płatności</button>
        </div>
    </div>
</div>