<app-nav-bar></app-nav-bar>
<div class="content_padding">
    <div class="filters">
        <div class="bar"><p>Sortuj</p></div>
        <p>cena rosnąco<br />
        cena malejąco<br /><br /></p>
        <div class="bar"><p>Filtruj</p></div>
        <p>marka <br />
        typ <br /><br /></p>
    </div>
    <div class="products">
        <mat-paginator [pageSizeOptions]="pageSizeOptions"
                    [pageSize]="pageSize"
                    [pageIndex]="currentPageIndex"
                    [length]="totalItems"
                    (page)="onPageChange($event)">
        </mat-paginator>
        <br />
        <div class="item_list">
                <div class="item" *ngFor="let itemElement of items" (click)="goToProductDetails(itemElement.id)">
                        <img [src]="itemElement.prod_images[0]" class="item_image"><br />
                        <div class="item_name">{{ itemElement.name }}</div>
                        <div class="item_price">{{ itemElement.price }} zł</div>
                    
                </div>
        </div>
        <br />
        <mat-paginator [pageSizeOptions]="pageSizeOptions"
                    [pageSize]="pageSize"
                    [pageIndex]="currentPageIndex"
                    [length]="totalItems"
                    (page)="onPageChange($event)">
        </mat-paginator>
    </div>
</div>