<form (ngSubmit)="onSubmit()"> 
    <div *ngIf="errorMessage" class="error-message"><p>{{ errorMessage }}</p></div>
    <div *ngIf="successMessage" class="success-message"><p>{{ successMessage }}</p></div>
    <input type="text" [(ngModel)]="username" [ngModelOptions]="{ standalone: true }" placeholder="E-mail"><br /><br />
    <input type="password" [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" placeholder="Hasło"><br /><br />
    <button type="submit">Zaloguj się</button>
</form><br />
<button (click)="loginWithGoogle()">Zaloguj przez Google</button>