<div *ngIf="userId == null; then logout else login"></div>
<ng-template #login>
    <div class="text-center">
        <div class="success-message"><p>Jesteś już zalogowany :)</p></div>
        <button routerLink="/">Powrót na stronę główną</button>
    </div>
</ng-template>
<ng-template #logout>
    <div *ngIf="errorMessage" class="error-message"><p>{{ errorMessage }}</p></div>
    <div *ngIf="successMessage" class="success-message"><p>{{ successMessage }}</p></div>
    <div class="login_form">
        <form (ngSubmit)="onSubmit()"> 
            <div class="label" *ngIf="username !== ''">E-mail</div>
            <input type="text" [(ngModel)]="username" [ngModelOptions]="{ standalone: true }" placeholder="E-mail"  class="form_control"><br /><br />
            <div class="label" *ngIf="password !== ''">Hasło</div>
            <input type="password" [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" placeholder="Hasło"  class="form_control"><br /><br />
            <button type="submit" class="button">Zaloguj się</button><br /><br />
        </form>
        <button (click)="loginWithGoogle()" class="button">Zaloguj przez Google</button>
    </div>
</ng-template>
    